/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* RESETANDO O HTML PARA INICIAR O PROJETO */
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
/* CONFIGURANDO BODY */
    body{
        width: 100vw;
        height: 100vh;
    /*     font-family: 'Roboto', sans-serif; */
        font-family: 'Montserrat', sans-serif;  
       /*  font-weight: bold; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

/* AREA DA CALCULADORA */
    #container{
        width: 375px;
        height: 812px;
        background-color: #000000;

        min-width: 375px;
        min-height: 812px;


        /* criando o template */
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-auto-rows: 30% 14% 14% 14% 14% 14%;
        grid-template-areas: 
            "RE RE RE RE"
            "CC PO DE DI"
            "SE OI NO XI"
            "QU CI SI ME"
            "UM DO TR MA"
            "ZE ZE VI IG"
        ;
    }

/* CONFIGURANDO GRID AREAS */
/* configurando cada div em seu devido lugar*/
/* INICIO */
    #resultado{
    display: flex; align-items: center; justify-content: center;  grid-area: RE;
    }
    #clear{
    display: flex; align-items: center; justify-content: center;  grid-area: CC;
    }
    #porcentagem{
    display: flex; align-items: center; justify-content: center;  grid-area: PO;
    }
    #divisao{
    display: flex; align-items: center; justify-content: center;  grid-area: DI;
    }
    #excluir{
    display: flex; align-items: center; justify-content: center;  grid-area: DE;
    }
    #sete{
    display: flex; align-items: center; justify-content: center;  grid-area: SE;
    }
    #oito{
    display: flex; align-items: center; justify-content: center;  grid-area: OI;
    }
    #nove{
    display: flex; align-items: center; justify-content: center;  grid-area: NO;
    }
    #multiplicacao{
    display: flex; align-items: center; justify-content: center;  grid-area: XI;
    }
    #quatro{
    display: flex; align-items: center; justify-content: center;  grid-area: QU;
    }
    #cinco{
    display: flex; align-items: center; justify-content: center;  grid-area: CI;
    }
    #seis{
    display: flex; align-items: center; justify-content: center;  grid-area: SI;
    }
    #menos{
    display: flex; align-items: center; justify-content: center;  grid-area: ME;
    }
    #um{  
    display: flex; align-items: center; justify-content: center;  grid-area: UM;
    }
    #dois{
    display: flex; align-items: center; justify-content: center;  grid-area: DO;
    }
    #tres{
    display: flex; align-items: center; justify-content: center;  grid-area: TR;
    }
    #mais{
    display: flex; align-items: center; justify-content: center;  grid-area: MA;
    }
    #zero{
    display: flex; align-items: center; justify-content: center;  grid-area: ZE;
    }
    #virgula{
    display: flex; align-items: center; justify-content: center;  grid-area: VI;
    }
    #igual{
    display: flex; align-items: center; justify-content: center;  grid-area: IG;
    }
/* CONFIGURANDO GRID AREAS */
/* FIM */


/* CONFIGURANDO A DIV DO RESULTADO */
/* INICIO */
    #resultado div{
        width: 100%;
        height: 100%;
        /*background: whitesmoke;*/    
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    #resultado div h1{
        font-size: 50pt;
        color: #FFFEFF;
        letter-spacing: .2rem;
    }
/* FIM */

/* CONFIGURANDO OS BOTÕES */
/* Div que fica responsável por guardar os valores dos botões */
/* INICIO */
    #clear  div, #porcentagem  div, #divisao  div, #excluir  div,
    #sete  div, #oito  div, #nove  div, #multiplicacao  div,
    #quatro  div, #cinco  div, #seis  div, #menos  div,
    #um  div, #dois  div, #tres  div, #mais  div, #virgula  div, #igual  div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 83%;
        height: 68%;
        border-radius: 50%;
        cursor: pointer;
    }

    #zero  div{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 28px;
        width: 90%;
        height: 68%;
        border-radius: 40px;
        background-color: beige;
        cursor: pointer;
    }
/* CONFIGURANDO OS BOTÕES */
/* FIM */

/* DEFININDO AS CORES DOS BOTÕES */
/* INICIO */
    #clear  div, #porcentagem  div,#excluir  div{
        background-color: #A7A4A7;
        color: #100D10;
    }

    #multiplicacao  div,
    #menos  div, #mais  div, #igual  div,#divisao  div{
        background-color: #F19A38;
        color: #FFFEFF;
    }

    #sete  div, #oito  div,#nove  div, #quatro  div, 
    #cinco  div, #seis  div, #um  div, #dois  div, 
    #tres  div, #zero  div, #virgula  div{
        background-color: #353235;
        color: #FFFEFF;
    }
/* DEFININDO AS CORES DOS BOTÕES */
/* FIM */





